
<!--ion-view title="Favoritos" class="fontFrom has-header">
	 <div class="tabs tabs-striped tabs-top" style="height:55px"> 
          <a ng-click="actionInfo(1)" 
              class="tab-item active" 
              style="{{activeBorderColorA}}">Ver Compradores</a>
          <a ng-click="actionInfo(2)" 
              class="tab-item active" 
              style="{{activeBorderColorT}}">Ver vendedores</a>
          <a ng-click="actionInfo(3)" 
              class="tab-item active" 
              style="{{activeBorderColorP}}">Guía de precios</a>
     </div>
  	<ion-content class="has-header">
		<div class="buttonHeader"></div>
        <cell-view ng-repeat="data in arrayData  track by $index" ></cell-view>
    </ion-content>	

</ion-view-->
<ion-view view-title="Favoritos"  class="fontFrom has-header">
     <!--div class="tabs tabs-striped tabs-top" style="margin-top: 15px ; height:60px"> 
          <a ng-click="actionInfo(1)" 
              class="tab-item active" 
              style="{{activeBorderColorA}}">Favoritos Compra</a>
          <a ng-click="actionInfo(2)" 
              class="tab-item active" 
              style="{{activeBorderColorT}}">Favoritos Venta</a>
     </div-->
   <div class="tabs tabs-top tabs-striped marginAuxTab" style="margin-top: 15px;font-family: ubuntubold sans-serif;">
    <div class="col col-50" style="padding: 0px"style="font-family: ubuntubold sans-serif;">
      <a ng-click="actionInfo(1)" 
        class=" tab-item active col styleSugesstion "  
        style="{{activeBorderColorA}} max-width: 100% ">Favoritos Compra</a>
    </div>
    <div class="col col-50" style="padding: 0px" style="font-family: ubuntubold sans-serif;">
      <a ng-click="actionInfo(2)" 
        class=" tab-item active  styleSugesstion " 
        style="{{activeBorderColorT}} max-width: 100%">Favoritos Venta</a>
    </div>
  </div>
    <ion-content class="has-header"  style="margin-top: 52px;background-color:white">
      <ion-list ng-if="!isVenta">
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="airline in misfavoritebuy.misfavcompradores">
          <section class="cont-agronegocios" style="width: 280px; margin-left: -58px;height:130px ;margin-top: -10px">
            <header class="cont-agronegocios__header">
              <div class="cont-agronegocios__header__info">
                <img class="picture" src="dist/img/Icon_fertilizante.png" height="32" width="32">
                <p class="cont-agronegocios__header__info__over-title">
                  {{airline.NombreUsuario}}
                </p>
                <h4 class="cont-agronegocios__header__info__title">
                  {{airline.Descripcion}}
                </h4>
              </div>
              <span class="to-corner" style="margin-right: -53px">
                {{airline.Asociacion}}
              </span>
            </header>
            <div class="cont-agronegocios__body">
              <p1 class="cont-agronegocios__body__life">
                <strong>Vigencia solicitud</strong>: {{airline.FechaEntrega}}
              </p1>
              <p class="cont-agronegocios__body__range"  style="text-align:left;margin-left: -12px" >
                Ubicado en: {{airline.Direccion}}
              </p>
                   <button class="btn1 btn-primary1 btn-green1" style="margin-left: 10px" ng-click="goToDetail({{airline}})">
                          Mas información
                   </button>
                   <!--div class="to-corner" style="font-family: ubuntubold sans-serif;margin-top: 33px">
                      <font color="#ff8400" ng-click="deleteOferta({{airline.Id}})"><b>Eliminar</b></font> 
                   </div-->
            </div>
          </section>
      </ion-item>
    </ion-list>
     <ion-list ng-if="isVenta">
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="airline in misfavoritesold.misfavventas">
          <section class="cont-agronegocios" style="width: 280px; margin-left: -58px;height:150px;margin-top: -10px">
            <header class="cont-agronegocios__header">
              <div class="cont-agronegocios__header__info">
                <img class="picture" src="dist/img/Icon_fertilizante.png" height="32" width="32">
                <p class="cont-agronegocios__header__info__over-title">
                  {{airline.NombreUsuario}}
                </p>
                <h4 class="cont-agronegocios__header__info__title">
                  {{airline.Descripcion}}
                </h4>
              </div>
              <span class="to-corner" style="margin-right: -53px">
                {{airline.Asociacion}}
              </span>
            </header>
            <div class="row"  style="margin-top: -10px">
            <div class="row" style="margin-top: -10px">
              <label style="font-family: ubuntubold sans-serif;">
                  <strong>Costo Total:</strong>
              </label> 
              <label style="font-family: ubuntubold sans-serif;">
                  <label name="totalcost"
                       id="totalcost">
                       <font style="font-family: ubuntubold sans-serif;" color="#58b9fe"><strong>${{airline.TotalCost}}</strong></font> 
                 </label> 
              </label>
              <label style="font-family: ubuntubold sans-serif;">
                  <strong>Peso:</strong>
              </label> 
              <label style="font-family: ubuntubold sans-serif;">
                  <label name="cantidad"
                       id="cantidad">
                       <font style="font-family: ubuntubold sans-serif;" color="#58b9fe"><strong>{{airline.Cantidad}} Kg</strong></font> 
                 </label> 
             </div>
             <!--div class="row" style="margin-left: -106px">
              <label style="font-family: ubuntubold sans-serif;">
                  <strong>Peso:</strong>
              </label> 
              <label style="font-family: ubuntubold sans-serif;">
                  <label name="cantidad"
                       id="cantidad">
                       <font style="font-family: ubuntubold sans-serif;" color="#58b9fe"><strong>{{airline.Cantidad}} Kg</strong></font> 
                 </label> 
             </div-->
             </div>
            <div class="cont-agronegocios__body">
              <p1 class="cont-agronegocios__body__life">
                <strong>Vigencia solicitud</strong>: {{airline.VigenciaHasta}}
              </p1>
              <p class="cont-agronegocios__body__range"  style="text-align:left;margin-left: -12px" >
                Ubicado en: {{airline.Municipio}}
              </p>
                   <button class="btn1 btn-primary1 btn-green1" style="margin-left: 10px" ng-click="goToDetail({{airline}})">
                          Mas información
                   </button>
                   <!--div class="to-corner" style="font-family: ubuntubold sans-serif;margin-top: 33px">
                      <font color="#ff8400" ng-click="deleteOferta({{airline.Id}})"><b>Eliminar</b></font> 
                   </div-->
            </div>
          </section>
      </ion-item>
    </ion-list>
    </ion-content>  
  </ion-view>
