<ion-view title="Perfil" class="fontFrom">
	<div class="tabs tabs-top tabs-striped marginAuxTab" style="margin-top: 15px;font-family: ubuntubold sans-serif;">

		<div class="col col-50" style="padding: 0px"style="font-family: ubuntubold sans-serif;">
			<a ng-click="actionButtonSugesstionTab()" 
				class=" tab-item active col styleSugesstion "  
				style="{{activeBorderColorR}} max-width: 100% ">Opciones de perfil</a>
		</div>
		
		

		<div class="col col-50" style="padding: 0px" style="font-family: ubuntubold sans-serif;">
			<a ng-click="actionButtonSugesstion()" 
				class=" tab-item active  styleSugesstion " 
				style="{{activeBorderColorS}} max-width: 100%">Sugerencias</a>
		</div>
		
	</div>

	<ion-content class="has-header" style="font-family: ubuntubold sans-serif;">
		<div class="buttonHeader marginAuxTab"></div>	
		<menu-registre ng-show="stateRegistre"></menu-registre>
		<menu-sugesstion ng-show="stateSugesstion"></menu-sugesstion>	
	</ion-content>
</ion-view>