<ion-view>
  <ion-content>
    
    <div class="card">
      <div class="item item-divider item-icon-right">
              <center> <b> Cambio de Clave </b> </center>
      </div>
      <div class="item item-text-wrap">
          <div class="list ">
            <label class="item item-input item-stacked-label">
              <span class="input-label sin-negrita">Clave anterior</span>
              <input  class="sin-negrita" type="password" placeholder="Clave anterior" ng-model="userModel.passwordActual" >
           </label>
           <label class="item item-input item-stacked-label">
             <span class="input-label sin-negrita">Clave nueva</span>
             <input class="sin-negrita" type="password" placeholder="Clave nueva" ng-model="userModel.passwordNuevo" >
            </label>
            <label class="item item-input item-stacked-label">
              <span class="input-label sin-negrita">Repetir clave</span>
              <input class="sin-negrita" type="password" placeholder="Repetir clave nueva" ng-model="userModel.confirmPasswordNuevo" >
             </label>
          </div>
          <button class="button button-full button-positive" ng-click="cambiarClave()">
            Cambiar Clave
        </button>
      </div>
    </div>

  </ion-content>
</ion-view>