<ion-view title="Registro" class="fontFrom">
  <ion-content>
    <div class="contentLoginImage">
      <div class="startImageLogin"></div> 
    </div>
    <div class="paddingContent">

      <div class="textLogin textColorLogin" ng-if="!texto">
        Cree una cuenta única para  Agronet, AgroTeConecta, AgroInsumos y  AgroNegocios en un solo paso: 
      </div>
       <div class="textLogin textColorLogin" ng-if="texto">
        Si ya es usuario de agronet o una de sus aplicaciones, ingrese con una cuenta de usuario.
      </div>
      <br>
  <form ng-submit="onSubmit(theForm.$valid)" name="theForm" novalidate="novalidate">
      <p class="textColorLogin textLoginMin">Ingrese su correo electrónico:</p>
      <label class="item item-input borderForm"

      ng-class="{
        'borderForm': theForm.email.$valid && !theForm.$pristine,
        'borderFormError': !theForm.email.$valid && !theForm.$pristine,
      }"      >
        <input 
          type="email" 
          placeholder="Ingrese su correo electrónico"
          ng-model="formModel.email"  
          id="email"
          name="email"
          required="required"
        >
      </label> 
      <p 
        class="textColorLogin textLoginMin marginAuxTab" 
        ng-show="theForm.email.$error.required && (!theForm.$pristine || theForm.$submitted)">
        Este campo es obligatorio
      </p>
      <p 
        class="textColorLogin textLoginMin marginAuxTab" 
        ng-show="theForm.email.$error.email && (!theForm.$pristine || theForm.$submitted)">
        Esta no es una opcion de Correo Electronico
      </p>
      <br>
      <p class="textColorLogin textLoginMin">Cree su contraseña:</p>
      <div class="row" style="padding: 0px">
        <label class="col  passwordCreate item item-input borderForm"
        ng-class="{
        'borderForm': theForm.password.$valid && !theForm.$pristine,
        'borderFormError': !theForm.password.$valid && !theForm.$pristine,
        }"  

        >
          <input type="{{typeInput}}"
            placeholder=" Ingrese su contraseña"
            ng-model="formModel.password"  
            id="password"
            name="password"
            required="required"
            >
        </label>
        <a class="col col-33  button button-small button-clear button-color-green passwordView" style="background-color: white; color: green; margin-left: 10px" ng-click="viewPassword()"><font color="#58b9fe">Ver Contraseña</font></a>
      </div>
      <p 
        class="textColorLogin textLoginMin marginAuxTab" 
        ng-show="theForm.password.$error.required && (!theForm.$pristine || theForm.$submitted)">
        Este campo es obligatorio
      </p>
      <br>
      <button 
        type="submit"  
        class="button-balanced button button-block" >{{textButton}}
      </button> 
      <br>
    </form >
      <div ng-show="existUser">
        <p class="textColorLogin textLogin">
        Si ya eres usuario de Agronet o de alguna de sus aplicaciones ingrese con su cuenta de usuario.
        </p>
          
        <button class="button button-block button-clear button-color-green" ng-click="existUserAction()">
          <b class="textColorLogin">Ya tengo cuenta</b>
        </button>
      </div>
      <center style="font-family: ubuntubold sans-serif;"
        class="textLogin textColorLogin" 
        ng-show="!existUser">
          <b ng-click="showAlert(theForm.email)"><u>He olvidado mi contraseña</u></b>
          <!--b ng-click="showPopup()"><u>Restablecer contraseña</u></b-->
      </center>
    </div>    
  </ion-content>
</ion-view>