<ion-view class="startFont" >
 <ion-nav-bar class="barCustomColorTerminos auxHeigth">
    <ion-nav-back-button class="button-clear">
      <i class="ion-arrow-left-c"></i> Atrás
    </ion-nav-back-button>
    </ion-nav-bar>
  <ion-content>
    <div class="startImageTerminos"></div>
    
    <p class="startTextTerminos">Términos y Condiciones</p>

    <div class="startPaddingButtonTerminos">
       <font color="white">El Ministerio de Agricultura y Desarrollo Rural dispone al público la aplicación Agronegocios, como una herramienta que permite comprar o vender productos agropecuarios, ver compradores, ver vendedores y la guía de precios de productos producidos en Colombia.</font>
    </div>

    <!--div class="centerImgSplash">
      <img src="img/logo_min.png" alt="" height="50px;" width="180px;">
      <br>
      <img src="img/logouno.png" alt="" height="60px;" width="180px;"> 
      <br>
 
      <img src="img/lemauno.png" alt="" height="75px;" width="180px;">
      <br>
    </div-->




  </ion-content>
  <ion-footer-bar align-title="left" class="bar-stable">
        <div class="footerInitTerminosLeft">
          <img class="footerInitTerminosLeftImg" src="img/logo_min.png"/>
        </div>
        <div class="footerInitTerminosCenter">
          <img class="footerInitTerminosCenterImg" src="img/logouno.png"/>
        </div>
        <div class="footerInitTerminosRight">
          <img class="footerInitTerminosRightImg" src="img/lemauno.png"/>
        </div>

  </ion-footer-bar>


</ion-view>
