<ion-view view-title="Detalle Sipsa"  class="fontFrom has-header">
   <header class="articles__second__header">
                <a ng-click="shareAnywhere()" class="anchor articles__second__header__share">
                  Compartir<span class="anchor__right icon-share"></span>
                </a>
    </header>
   <div class="tabs tabs-top tabs-striped marginAuxTab" style="margin-top: 15px;font-family: ubuntubold sans-serif;">
             <div class="bar bar-subheader" style=" background-color: #5b9bfb" >
                <h1 class="title" >{{tituloDetalle}}</h1>
             </div>
             
    <div class="col col-50" style="padding: 0px"style="font-family: ubuntubold sans-serif;">
      <a ng-click="actionInfo(1)" 
        class=" tab-item active col styleSugesstion "  
        style="{{activeBorderColorA}} max-width: 100% ">Precio Sipsa</a>
    </div>
    <div class="col col-50" style="padding: 0px" style="font-family: ubuntubold sans-serif;">
      <a ng-click="actionInfo(2)" 
        class=" tab-item active  styleSugesstion " 
        style="{{activeBorderColorT}} max-width: 100%">Precio Finca</a>
    </div>
  </div>
    <ion-content class="has-header"  style="margin-top: 52px;background-color:white">
      <ion-list ng-if="!isSipsa">
      <ion-item ng-repeat="airline in sipsa.precios">
          <p class="alignleft" style="font-family: ubuntubold sans-serif;"><b>{{airline.PrecioPromedio | currency : symbol : 0}}</b></p>
          <p class="alignright" style="font-family: ubuntubold sans-serif;"><b><font color="#5b9bfb">{{airline.Fecha}}</font></b></p>
      </ion-item>
    </ion-list>
     <ion-list ng-if="isSipsa">
      <ion-item  ng-repeat="airline in sipsafinca.preciosfinca">
         <p class="alignleft" style="font-family: ubuntubold sans-serif;"><b>{{airline.PrecioPromedio  | currency : symbol : 0}}</b></p>
         <p class="alignright" style="font-family: ubuntubold sans-serif;"><b><font color="#5b9bfb">{{airline.FechaStr}}</font></b></p>
      </ion-item>
    </ion-list>
    </ion-content>  
  </ion-view>