<ion-view title="Detalles" class="fontFrom">
      

  <ion-content >


  <div class="padding" style=" width:100%;">
              <header class="articles__second__header">
                <a ng-click="shareAnywhere()" class="anchor articles__second__header__share">
                  Compartir<span class="anchor__right icon-share"></span>
                </a>
                <a ng-click="saveFavorite(detail.Id)" class="anchor articles__second__header__add-fav" ng-if="!valFav">
                  <span class="anchor__left ion-ios-star-outline" ng-if="!favorito"></span>
                  <span class="anchor__left ion-ios-star" ng-if="favorito"></span>
                  Añadir a favoritos
                </a>
              </header>

              <div class="bar bar-subheader" style=" background-color: #5b9bfb" >
                <h1 class="title" >{{tituloDetalle}}</h1>
             </div>

              <article class="articles__second__body" ng-if="isVentaValidator">
                      <p style=" margin-top:12px;">
                        <span></span> {{detail.Descripcion}}
                      </p>
                <div class="articles__second__body__info-sale">
                  <h5 class="row">
                    <span class="cell" ng-if="!isVentaValidator">Cantidad:</span>
                    <span class="cell" ng-if="!isVentaValidator">{{detail.Cantidad}}  </span>
                  </h5>
              

                  <!--h5 class="row">
                    <span class="cell">Costo total:</span>
                    <span class="cell">$5.000</span>
                  </h5-->
                  <h5 class="row">
                    <span class="cell" ng-if="!isVentaValidator">Costo Unidad:</span>
                    <span class="cell" ng-if="!isVentaValidator">${{detail.PrecioUnitario}}</span>
                  </h5>
                </div>
                <div class="articles__second__body__date">

                  <p class="articles__second__body__date__cantidad">
                    <span>Cantidad :</span> {{detail.Cantidad}}  {{detail.UnidadMedida}}
                  </p>

                  <p class="articles__second__body__date__to">
                    <span>Hasta :</span> {{detail.FechaEntrega}}
                  </p>
                  <p class="articles__second__body__date__presentation">
                    <span>Presentación:</span> {{detail.PresentacionCultivo}} 
                  </p>
                  <p class="articles__second__body__date__place">
                    <span>En:</span> {{detail.Municipio}}
                  </p>
                </div>
                <div class="info-buyer">
                  <h5 class="info-buyer__title">
                    Datos del {{tipo}}
                  </h5>
                  <h5 class="info-buyer__name">
                    {{detail.NombreUsuario}}
                  </h5>
                  <h5 class="info-buyer__phone">
                    {{detail.TelefonoUsuario}}
                  </h5>
                  <h5 class="info-buyer__place">
                    {{detail.Municipio}}
                  </h5>
                  <h5 class="info-buyer__email">
                    {{detail.Email}}
                  </h5>
                  <a ng-click="sendEmail()"class="btn btn-primary btn-green"><label style="margin-top: 10px;font-size: 18px"><font color="white"><b>Contactar por correo</b></font></label></a>
                  <a href="tel:{{detail.TelefonoUsuario}}" class="btn btn-primary btn-green"><label style="margin-top: 10px;font-size: 18px"><font color="white"><b>{{contactar}}</b></font></label></a>
                </div>
              </article>
               <article class="articles__second__body" ng-if="!isVentaValidator">
                  <p style=" margin-top:12px;">
                        <span>&#8192;</span> {{detail.Descripcion}}
                      </p>
                <div class="articles__second__body__info-sale">
                  <h5 class="row">
                    <span class="cell" ng-if="!isVentaValidator">Cantidad:</span>
                    <span class="cell" ng-if="!isVentaValidator">{{detail.Cantidad}} {{detail.UnidadMedia}}</span>
                  </h5>
                  <!--h5 class="row">
                    <span class="cell">Costo total:</span>
                    <span class="cell">$5.000</span>
                  </h5-->
                  <h5 class="row">
                    <span class="cell" ng-if="!isVentaValidator">Costo Unidad:</span>
                    <span class="cell" ng-if="!isVentaValidator">${{detail.PrecioUnitario}}</span>
                  </h5>
                </div>
                <div class="articles__second__body__date">
                  <p class="articles__second__body__date__to">
                    <span>Hasta :</span> {{detail.VigenciaHasta}}
                  </p>
                  <p class="articles__second__body__date__presentation">
                    <span>Presentación:</span> {{detail.Presentacion}} 
                  </p>
                  <p class="articles__second__body__date__place">
                    <span>En:</span> {{detail.Municipio}}
                  </p>
                </div>
                <div class="info-buyer">
                  <h5 class="info-buyer__title">
                    Datos del {{tipo}} 
                  </h5>
                  <h5 class="info-buyer__name">
                    {{detail.NombreUsuario}}
                  </h5>
                  <h5 class="info-buyer__phone">
                    {{detail.TelefonoUsuario}}
                  </h5>
                  <h5 class="info-buyer__place">
                    {{detail.Municipio}}
                  </h5>
                  <h5 class="info-buyer__email">
                    {{detail.Email}}
                  </h5>
                  <a ng-click="sendEmail()"class="btn btn-primary btn-green"><label style="margin-top: 10px;font-size: 18px"><font color="white"><b>Contactar por correo</b></font></label></a>
                  <a href="tel:{{detail.TelefonoUsuario}}" class="btn btn-primary btn-green"><label style="margin-top: 10px;font-size: 18px"><font color="white"><b>{{contactar}} </b></font></label></a>
                </div>
              </article>
            </div>
  </ion-content>
</ion-view>