<ion-view view-title=""  class="fontFrom has-header" >
  <div class="bar bar-header item-input-wrapper" style="margin-top: 50px; width:120%; margin-left: -11px; margin-right: -9px; height:55px" >
      <div class="item item-input borderForm" style="width:90%">
             <i class="icon ion-search placeholder-icon"></i>
             <input type="search" placeholder="Buscar Producto" ng-model="data.search" ng-change="search()"class="item-input-wrapper" style="font-family: ubuntubold sans-serif;margin-top: 3px">
      </div>
  </div>
     <div class="tabs tabs-striped tabs-top" style="margin-top: 55px ; height:60px;"> 
          <a ng-click="actionInfo(1)" 
              class="tab-item active" 
              style="{{activeBorderColorA}}">Ver Compradores</a>
          <a ng-click="actionInfo(2)" 
              class="tab-item active" 
              style="{{activeBorderColorT}} ">Ver vendedores</a>
          <a ng-click="actionInfo(3)" 
              class="tab-item active" 
              style="{{activeBorderColorP}} ">Guía de precios</a>
     </div>
    <ion-content class="has-header"  style="margin-top: 58px;background-color:white">
     <div class="selectContainer" style="margin-top:35px;margin-left:3px;background-color:white;width:100%">
          <label style="height:100%;width:99%; margin-top:10px; background-color:white">
                <button class="btn btn-primary btn-green btn-plus-b" ng-click="goToPublish()" style="width:100%;"> Publicar oferta de compra o venta</button>
          </label>
      </div>
      </div>
      <div class="selectContainer" style="margin-top:-17px">
         <div>
         <div class="item item-input borderForm" style="font-family: ubuntubold sans-serif;margin-left: 2px;margin-right: 2px" >
             <i class="icon ion-search placeholder-icon" id="municipiolupa"></i>
			 <img src="img/ajax-loader.gif" style="width: 15px;" alt="loader" id="munloader">
             <input type="search" placeholder="Seleccionar Municipio"  ng-model="data.searchmunicipios" ng-change="searchMunicipios()"class="item item-input borderForm" style="font-family: ubuntubold sans-serif;margin-top: 3px">
         </div>
      </div>
        <div class="optionList padding-left padding-right"  style="margin-top:-5px;font-family: ubuntubold sans-serif" ng-show="isMunicipio">
        <ion-scroll>
            <ul class="list">
            <li class="item" style="background-color:#EEEEEE" ng-click="seleccionar(itemdata)" ng-repeat="itemdata in data.municipiosdata.municipios">{{itemdata.Nombre}} {{itemdata.Departamento}}</li></ul>
        </ion-scroll>
       </div> 
      </div>

	  <ion-list ng-hide="isMunicipio" class="ng-hide" ng-if="!isVenta && !isPrecios">
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="airline in data.compradores track by $index">
        <section class="cont-agronegocios" style="margin-left: -58px;margin-top: -10px;height:115px">
            <header class="cont-agronegocios__header">
              <div class="cont-agronegocios__header__info">
                <img class="picture" src="dist/img/Icon_fertilizante.png" height="32" width="32">
                <p class="cont-agronegocios__header__info__over-title">
                  {{airline.NombreUsuario}}
                </p>
                <h4 class="cont-agronegocios__header__info__title">
                  Compro {{airline.Producto}}
                </h4>
              </div>
              <span class="to-corner">
                {{airline.Asociacion}}
              </span>
            </header>
            <br>
            <div class="cont-agronegocios__body" style="margin-top: -28px">
              <p1 class="cont-agronegocios__body__life">
                <strong>Vigencia solicitud</strong>: {{airline.FechaEntrega}}
              </p1>
              <p class="cont-agronegocios__body__range"  style="text-align:left;margin-left: -12px" >
                Ubicado en : {{airline.Municipio}}
              </p>
              <button class="btn1 btn-primary1 btn-green1" ng-click="goToDetail({{airline}})">
                Mas información
              </button>
            </div>
          </section>
      </ion-item>
    </ion-list>
<!--	<div class="selectContainer" style="margin-top:35px;margin-left:3px;background-color:white;width:100%">
          <label style="height:100%;width:99%; margin-top:10px; background-color:white">
                <button class="btn btn-primary btn-green btn-plus-b" ng-click="goToPublish()" style="width:100%;"> Ver Más</button>
          </label>
      </div>-->
<!--Venta? -->
    <ion-list ng-hide="isMunicipio" class="ng-hide" ng-if="isVenta && !isPrecios">
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="airline in data.sold.ventas  track by $index">
        <section class="cont-agronegocios" style="margin-left: -58px;margin-top: -10px;height:140px">
            <header class="cont-agronegocios__header">
              <div class="cont-agronegocios__header__info">
                <img class="picture" src="dist/img/Icon_fertilizante.png" height="32" width="32">
                <p class="cont-agronegocios__header__info__over-title">
                  {{airline.NombreUsuario}}
                </p>
                <h4 class="cont-agronegocios__header__info__title">
                  Vendo {{airline.Producto}}
                </h4>
              </div>
              <span class="to-corner">
                {{airline.Asociacion}}
              </span>
            </header>
            <div class="row" style="margin-top: -10px; margin-left: 28px">
              <label style="font-family: ubuntubold sans-serif;">
                  <strong>Costo Total:  &nbsp;</strong>
              </label> 
              <label style="font-family: ubuntubold sans-serif;">
                  <label name="totalcost"
                       id="totalcost">
                       <font style="font-family: ubuntubold sans-serif;" color="#58b9fe"><strong> {{ airline.TotalCost | currency : symbol : 0}}
                     </strong></font> 
                 </label> 
                  <label style="font-family: ubuntubold sans-serif;">
                  <strong>Peso:</strong>
              </label> 
              </label> 
              <label style="font-family: ubuntubold sans-serif;">
                  <label name="cantidad"
                       id="cantidad">
                       <font style="font-family: ubuntubold sans-serif;" color="#58b9fe"><strong>{{airline.Cantidad}} Kg</strong></font> 
                 </label> 
              </label>
             </div>
             <br>
             <!--div class="row" style="margin-left: 12px">
              <label style="font-family: ubuntubold sans-serif;">
                  <strong>Peso:</strong>
              </label> 
              <label style="font-family: ubuntubold sans-serif;">
                  <label name="cantidad"
                       id="cantidad">
                       <font style="font-family: ubuntubold sans-serif;" color="#58b9fe"><strong>{{airline.Cantidad}} Kg</strong></font> 
                 </label> 
              </label> 
             </div-->
            <div class="cont-agronegocios__body" style="margin-top: -28px">
               <p1 class="cont-agronegocios__body__life">
                <strong>Vigencia solicitud</strong>: {{airline.VigenciaHasta}}
              </p1>
              <p class="cont-agronegocios__body__range"  style="text-align:left;margin-left: -12px" >
                Ubicado en : {{airline.Municipio}}
              </p>
              <button class="btn1 btn-primary1 btn-green1" ng-click="goToDetail({{airline}})">
                Mas información
              </button>
            </div>
          </section>
      </ion-item>
    </ion-list>
    <ion-list ng-if="isPrecios">
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="airline in data.sipsa.productos" >
          <section class="cont-agronegocios" style="margin-left: -58px;margin-top: -10px;height:115px">
            <header class="cont-agronegocios__header">
              <div class="cont-agronegocios__header__info">
                <img class="picture" src="dist/img/Icon_fertilizante.png" height="32" width="32">
                <p class="cont-agronegocios__header__info__over-title">
                  <b>Nombre del producto:</b> {{airline.Producto}}
                </p>
                <h4 class="cont-agronegocios__header__info__title">
                  <b>Precio Promedio: </b>{{ airline.PrecioPromedio | currency : symbol : 0}}
                
                </h4>
              </div>
            </header>
            <div class="cont-agronegocios__body">
              <p class="cont-agronegocios__body__range"  style="text-align:left;margin-left: -12px" >
                Ubicado en: {{airline.Municipio}}
              </p>
                   <button class="btn2 btn-primary2 btn-green2"ng-click="goToDetailHistory({{airline}})">
                          Ver Historial
                   </button>
            </div>
          </section>
      </ion-item>
       <h4 class="cont-agronegocios__header__info__title" ng-if="!islabel">
                  <center>Ingrese un producto a buscar en el campo "Buscar producto"</center>
       </h4>
    </ion-list>
    <ion-infinite-scroll icon="ripple" ng-if="!noMoreItemsAvailable" on-infinite="loadMoreData()" distance="2"></ion-infinite-scroll>
    </ion-content>  
  </ion-view>
