<form ng-submit="onSubmit(theForm.$valid)" name="theForm" novalidate="novalidate">
<div class="list paddingContent fontFrom ">
	<div class="row" style="margin-top: -55px">
		<img class="imageProfile" src="img/unProfile.jpg">
		<div class="textImageProfile">Añadir imagen de perfil</div>    
    </div>
	<h4>Informacion</h4>
	<p class="titleForm">Nombre:</p>
	<label class="item item-input borderForm"
	      ng-class="{
            'borderForm': theForm.nombre.$valid && !theForm.$pristine,
            'borderFormError': !theForm.nombre.$valid && !theForm.$pristine,
          }"> 
		<input type="text" placeholder="Ingrese su nombre completo" ng-model="userModel.name" id="nombre"
          name="nombre"
          required="required">
	</label> 
	<p ng-if="!userModel.name"><font color="red">*Campo nombre es requerido</font></p>
	<br>	
	<p class="titleForm">Correo electronico:</p>
	<label class="item item-input borderForm"
	    ng-class="{
            'borderForm': theForm.email.$valid && !theForm.$pristine,
            'borderFormError': !theForm.email.$valid && !theForm.$pristine,
          }" > 
		<input type="email" placeholder="Ingrese su correo electronico" ng-model="userModel.email" id="email"
          name="email"
          required="required" ng-disabled="userModel.email">
	</label> 
	<p ng-if="!userModel.email"><font color="red">*Campo correo es requerido</font></p>
	<br>
	<p class="titleForm">Documento de identidad:</p>
	<label class="item item-input borderForm" ng-class="{
            'borderForm': theForm.cedula.$valid && !theForm.$pristine,
            'borderFormError': !theForm.cedula.$valid && !theForm.$pristine,
          }" > 
		<input type="number" placeholder="Ingrese su documento" ng-model="userModel.documento" id="cedula"
          name="cedula"
          required="required">
	</label>
	<p ng-if="!userModel.documento"><font color="red">*Campo documento es requerido</font></p> 
	<br>	
	<!--p class="titleForm">Contraseña:</p>
	<label class="item passwordCreate item-input borderForm" ng-class="{
        'borderForm': theForm.clave.$valid && !theForm.$pristine,
        'borderFormError': !theForm.clave.$valid && !theForm.$pristine,
        }"  > 
		<input type="password" placeholder="Ingrese su contraseña" ng-model="userModel.password" id="clave"
          name="clave"
          required="required">
	</label> 
	<br-->	
	<h4>Informacion personal</h4>
	<p class="titleForm">Nivel educativo:</p>
	<div class="selecta" >
	    <span class="arr"></span>
	    <select ng-model="userModel.education" ng-change="seleccionarNivel(userModel.education)">
	       <option ng-repeat="i in nivelEducativo" value="{{i.Nombre}}">
              {{i.Nombre}}
           </option>
	    </select>
 	</div>
 	<p ng-if="!userModel.education ||level==0"><font color="red">*Campo nivel educativo es requerido</font></p> 
 	<br>
 	<br>

	<p class="titleForm">Municipio de Residencia:</p>
	    <div class="item item-input borderForm" style="font-family: ubuntubold sans-serif" >
             
             <i class="icon ion-search placeholder-icon" id="municipiolupaR"></i>
             <img src="img/ajax-loader.gif" style="width: 15px; display:none;" alt="loader" id="muniloader">
             <input type="search" placeholder="Municipio"  ng-model="muni.title"  ng-change="searchMunicipios(muni.title)" style="font-family: ubuntubold sans-serif;margin-top: 3px"name="muni.title"
             required="required"
             id="muni">
         </div>
         <p ng-if="!muni.title"><font color="red">*Campo municipio de residencia es requerido</font></p> 
         <div class="optionList padding-left padding-right"  style="margin-top:-5px;font-family: ubuntubold sans-serif" ng-show="isMunicipio">
           <ion-scroll>
               <ul class="list">
               <li class="item"  style="background-color:#EEEEEE" ng-click="seleccionar(itemdata)" ng-repeat="itemdata in municipiosdataregister.municipiosregister">{{itemdata.Nombre}} {{itemdata.Departamento}}</li></ul>
           </ion-scroll>
 	    </div>
	<br>
	<p class="titleForm">Direccion Residencia:</p>
	<label class="item item-input borderForm" ng-class="{
            'borderForm': theForm.direc.$valid && !theForm.$pristine,
            'borderFormError': !theForm.direc.$valid && !theForm.$pristine,
             }">
		  <input type="text" placeholder="Ingrese su direccion de residencia" ng-model="userModel.placeCity"  name="direc"
             required="required"
             id="direc">
	</label> 
	<p ng-if="!userModel.placeCity"><font color="red">*Campo direccion de residencia es requerido</font></p> 
    <br>
	<p class="titleForm">Genero:</p>
	<div class="selecta" >
	    <span class="arr"></span>
	    <select ng-model="userModel.genero" ng-change="seleccionarSex(userModel.genero)">
	      <option></option>
	      <option>Masculino</option>
	      <option>Femenino</option>
	    </select>
 	</div>
 	<p ng-if="!userModel.genero"><font color="red">*Campo genero requerido</font></p> 
 	<br>
 	<br>	
	<p class="titleForm">Número celular:</p>
	<label class="item item-input borderForm"  ng-class="{
            'borderForm': theForm.cell.$valid && !theForm.$pristine,
            'borderFormError': !theForm.cell.$valid && !theForm.$pristine,
             }">
		<input type="tel" placeholder="Ingrese su número celular" ng-model="userModel.cellPhone" name="cell"
             required="required"
             id="cell">
	</label> 
	<p ng-if="!userModel.cellPhone"><font color="red">*Campo Número celular es requerido</font></p> 
	<br>
	<h4>Actividad agropecuaria </h4>
	<p class="titleForm">Municipio de Produccion:</p>
	    <div class="item item-input borderForm" style="font-family: ubuntubold sans-serif">
             <i class="icon ion-search placeholder-icon" id="munlupa"></i>
            
             <img src="img/ajax-loader.gif" style="width: 15px; display:none;" alt="munloader" id="munloaderR">

             <input type="search" placeholder="Municipio"  ng-model="munip.titlep"  ng-change="searchMunicipiosP(munip.titlep)" style="font-family: ubuntubold sans-serif;margin-top: 3px"name="munip.titlep"
             required="required"
             id="munip.titlep">
         </div>
         <p ng-if="!munip.titlep"><font color="red">*Campo Municipio de Produccion es requerido</font></p> 
         <div class="optionList padding-left padding-right"  style="margin-top:-5px;font-family: ubuntubold sans-serif" ng-show="isMunicipiop">
           <ion-scroll>
               <ul class="list">
               <li class="item"  style="background-color:#EEEEEE" ng-click="seleccionarp(itemdata)" ng-repeat="itemdata in municipiosdataregisterp.municipiosregisterp">{{itemdata.Nombre}} {{itemdata.Departamento}}</li></ul>
           </ion-scroll>
 	    </div>
	<br>
	<p class="titleForm">Direccion de produccion:</p>
	<label class="item item-input borderForm" ng-class="{
            'borderForm': theForm.act.$valid && !theForm.$pristine,
            'borderFormError': !theForm.act.$valid && !theForm.$pristine,
             }">
		<input type="text" placeholder="Produccion" ng-model="userModel.LugarDeProduccionName" name="act"
             required="required"
             id="act">
	</label> 
	<p ng-if="!userModel.LugarDeProduccionName"><font color="red">*Campo Direccion de produccion es requerido</font></p>
	<br>	
	<!--p class="titleForm">Pertenece a una asociación:</p>
	<div class="selecta" >
	    <span class="arr"></span>
	    <select ng-model="userModel.asociation" ng-change="seleccionarAsochar(userModel.asociation)">
	      <option value="userModel.asociation">Si</option>
	      <option value="userModel.asociation">No</option>
	    </select>
 	</div>
 	<br>
 	<br-->
	<p class="titleForm">Actividad agrícola</p>
	<div class="selecta" >
	    <span class="arr"></span>
	    <select ng-model="userModel.activity" ng-change="seleccionarActividad(userModel.activity)">
	     <option ng-repeat="i in ActividadesAgricolas" value="{{i.Nombre}}" >
              {{i.Nombre}}
           </option>
	    </select>
 	</div>
 	<p ng-if="!userModel.activity ||act==0"><font color="red">*Campo Actividad agrícola es requerido</font></p>
 	<br>
 	<br>	
	<p class="titleForm">Categoria del producto:</p>
	<div class="selecta" >
	    <span class="arr"></span>
	    <select ng-model="userModel.category" ng-change="seleccionarCatego(userModel.category)">
	      <option ng-repeat="i in categorias" value="{{i.Nombre}}">
              {{i.Nombre}}
           </option>
	    </select>
 	</div>
 	<p ng-if="cate==0 || !userModel.category"><font color="red">*Campo Categoria del producto es requerido</font></p>
 	<br>
 	<br>
	<p class="titleForm">Producción principal:</p>
	<label class="item item-input borderForm" ng-class="{
            'borderForm': theForm.prod.$valid && !theForm.$pristine,
            'borderFormError': !theForm.prod.$valid && !theForm.$pristine,
             }">
		<input type="text" placeholder="Ingrese su producción principal" ng-model="userModel.productionPricipal" name="prod"
             required="required"
             id="prod">
	</label>
	<p ng-if="!userModel.productionPricipal"><font color="red">*Campo Producción principal es requerido</font></p> 
	<br>


	<p class="titleForm">Superficie cultivada:</p>
	<label class="item item-input borderForm" ng-class="{
            'borderForm': theForm.sup.$valid && !theForm.$pristine,
            'borderFormError': !theForm.sup.$valid && !theForm.$pristine,
             }">
		<input type="number" placeholder="Hectareas de superficie" ng-model="userModel.superfice" name="sup"
             required="required"
             id="sup">
	</label>
	<p ng-if="!userModel.superfice"><font color="red">*Campo Superficie cultivada es requerido</font></p> 
	<br>

	<br>
	<h4>Información Adicional</h4>


	<p class="titleForm">Superficie cultivada el ultimo año:</p>
	<label class="item item-input borderForm" ng-class="{
            'borderForm': theForm.supUltimo.$valid && !theForm.$pristine,
            'borderFormError': !theForm.supUltimo.$valid && !theForm.$pristine,
             }">
		<input type="number" placeholder="Hectareas de superficie" ng-model="userModel.SuperficieUltimoYear" name="supUltimo"
             required="required"
             id="supUltimo">
	</label>
	<p ng-if="!userModel.SuperficieUltimoYear"><font color="red">*Campo Superficie cultivada en el ultimo año es requerido</font></p> 
	<br>


	<p class="titleForm">Trabajan en su predio integrantes de su Familia, ¿Cuantos?</p>
	<label class="item item-input borderForm" ng-class="{
            'borderForm': theForm.numeroFamiliares.$valid && !theForm.$pristine,
            'borderFormError': !theForm.numeroFamiliares.$valid && !theForm.$pristine,
             }">
		<input type="number" placeholder="Numero de trabajadores" ng-model="userModel.NumeroFamiliares" name="numeroFamiliares"
             required="required"
             id="numeroFamiliares">
	</label>
	<p ng-if="!userModel.NumeroFamiliares"><font color="red">*El Campo Numero de trabajadores de su familia es requerido</font></p> 
	<br>

 

	<p class="titleForm">Trabajan en su predio trabajadores permanentes, ¿Cuantos?</p>
	<label class="item item-input borderForm" ng-class="{
            'borderForm': theForm.trabajadoresPermanentes.$valid && !theForm.$pristine,
            'borderFormError': !theForm.trabajadoresPermanentes.$valid && !theForm.$pristine,
             }">
		<input type="number" placeholder="Numero de trabajadores" ng-model="userModel.TrabajadoresPermanentes" name="trabajadoresPermanentes"
             required="required"
             id="trabajadoresPermanentes">
	</label>
	<p ng-if="!userModel.TrabajadoresPermanentes"><font color="red">*El Campo Numero de trabajadores de permanentes es requerido</font></p> 
	<br>


	<p class="titleForm">Trabajan en su predio trabajadores temporales , ¿Cuantos?</p>
	<label class="item item-input borderForm" ng-class="{
            'borderForm': theForm.trabajadoresTemporales.$valid && !theForm.$pristine,
            'borderFormError': !theForm.trabajadoresTemporales.$valid && !theForm.$pristine,
             }">
		<input type="number" placeholder="Numero de trabajadores" ng-model="userModel.TrabajadoresTemporales" name="trabajadoresTemporales"
             required="required"
             id="trabajadoresTemporales">
	</label>
	<p ng-if="!userModel.TrabajadoresTemporales"><font color="red">*El Campo Numero de trabajadores de temporales es requerido</font></p> 
	<br>



	<button class="button button-block button-balanced" ng-click="actionButtonRegistre(theForm)">
  		Guardar
  	</button >
  	<b ng-click="showPopup()"><u>Restablecer contraseña</u></b>
</div>
</form >