<ion-view view-title="Publicacion de venta" hide-back-button="false" style="background-color:#F5F5F5">
<ion-content  class="has-header">
     <div class="row" style="margin-top: 7px">
     <div class="leftarrow">
          <button class="button button-positive button-clear no-animation icon ion-chevron-left"
                  ng-click="previusSlide()" ng-if="!slideIndex">
          </button>
          <button class="button button-positive button-clear no-animation icon ion-chevron-left"
                  ng-click="previusSlide()" ng-if="slideIndex > 0">
          </button>
        </div>
        <center style="margin-top: 12px"><p class="titleForm"> {{count+1}} de 3 formularios</p></center>
        <div class="rightarrow">
          <button class="button button-positive button-clear no-animation icon ion-chevron-right"
                  ng-click="nextSlide()" ng-if="!slideIndex">

          </button>
          <button class="button button-positive button-clear no-animation icon ion-chevron-right"
                  ng-click="nextSlide()" ng-if="slideIndex>0"> 

          </button>
        </div>
        </div>
     <ion-slide-box show-pager="true" on-slide-changed="slideHasChanged($index)">
      <ion-slide>
    <form ng-submit="onSubmit(theFormProducto.$valid)" name="theFormProducto" novalidate="novalidate">
      <div class="list paddingContent fontFrom ">
      <h4>Producto</h4>
      <p class="titleForm" >Categoria del producto:</p>
       <div class="selecta" >
        <span class="arr"></span>
        <select ng-model="userModel.category" ng-change="seleccionarCatego(userModel.category)">
        <option ng-repeat="i in categorias" value="{{i.Nombre}}">
              {{i.Nombre}}
        </option>
      </select>
      </div>
      <p ng-if="cate==0 || !userModel.category"><font color="red">*Campo Categoria del producto es requerido</font></p>
      <br>  
      <p class="titleForm">Producto que quiero vender</p>
       <label class="item item-input borderForm"  ng-class="{
            'borderForm': theFormProducto.protosold.$valid && !theFormProducto.$pristine,
            'borderFormError': !theFormProducto.protosold.$valid && !theFormProducto.$pristine,
             }">
        <input type="text" placeholder="Producto a vender" ng-model="userModel.product" name="protosold"
             required="required"
             id="protosold">
      </label>
      <p ng-if="!userModel.product"><font color="red">*Campo Producto que quiero vender es requerido</font></p>
      <br>
      <p class="titleForm">Variedad</p>
       <label class="item item-input borderForm">
       <input type="search" placeholder="Variedad"  ng-model="variedad.title"  ng-change="searchVariedad(variedad.title)" style="font-family: ubuntubold sans-serif;margin-top: 3px"name="variedad.title"
             required="required"
             id="variedad">
      </label> 
      <p ng-if="!variedad.title"><font color="red">*Campo variedad es requerido</font></p>
      <div class="optionList padding-left padding-right"  style="margin-top:-5px;font-family: ubuntubold sans-serif" ng-show="isVariedades">
           <ion-scroll>
               <ul class="list">
               <li class="item"  style="background-color:#EEEEEE" ng-click="seleccionarVar(itemdata)" ng-repeat="itemdata in vararray.variedades">{{itemdata.Nombre}}</li></ul>
           </ion-scroll>
      </div> 
      <br>  
      <p class="titleForm">Ubicacion de mi cultivo</p>
       <label class="item item-input borderForm">
         <input type="search" placeholder="Municipio"  ng-model="muni.title"  ng-change="searchMunicipios(muni.title)" style="font-family: ubuntubold sans-serif;margin-top: 3px"name="muni.title"
             required="required"
             id="muni">
      </label> 
      <p ng-if="!muni.title"><font color="red">*Campo Ubicacion es requerido</font></p>
      <div class="optionList padding-left padding-right"  style="margin-top:-5px;font-family: ubuntubold sans-serif" ng-show="isMunicipio">
           <ion-scroll>
               <ul class="list">
               <li class="item"  style="background-color:#EEEEEE" ng-click="seleccionar(itemdata)" ng-repeat="itemdata in municipiosdataregister.municipiosregister">{{itemdata.Nombre}} {{itemdata.Departamento}}</li></ul>
           </ion-scroll>
      </div> 
      <br>
      </div>
    </form >
    </ion-slide>
    <ion-slide>
     <form ng-submit="onSubmit(theFormCost.$valid)" name="theFormCost" novalidate="novalidate">
      <div class="list paddingContent fontFrom ">
      <h4>Costo</h4>
      <p class="titleForm">Cantidad:</p>
      <label class="item item-input borderForm"  g-class="{
            'borderForm': theFormCost.cantidad.$valid && !theFormCost.$pristine,
            'borderFormError': !theFormCost.cantidad.$valid && !theFormCost.$pristine,
             }">
        <input type="number" placeholder="Cantidad" ng-model="userModel.cant" name="cantidad"
             required="required"
             id="cantidad">
      </label> 
      <p ng-if="!userModel.cant"><font color="red">*Campo Cantidad es requerido</font></p>
      <br>
      <p class="titleForm">Costo por unidad:</p>
       <label class="item item-input borderForm"  g-class="{
            'borderForm': theFormCost.cost.$valid && !theFormCost.$pristine,
            'borderFormError': !theFormCost.cost.$valid && !theFormCost.$pristine,
             }">
        <input type="number" placeholder="Costo por unidad" ng-model="userModel.costuni" name="cost"
             required="required"
             id="cost" ng-change="change(userModel.costuni)">
      </label> 
      <p ng-if="!userModel.costuni"><font color="red">*Campo Costo es requerido</font></p> 
      <br> 
      <hr> 
      <br>
      <br>
      <div class="row">
      <label style="font-family: ubuntubold sans-serif;">
        Costo Total:
      </label> 
       <label style="font-family: ubuntubold sans-serif;">
         <label ng-model="userModel.totalcost" name="totalcost"
             required="required"
             id="totalcost">
            <font color="#58b9fe">${{userModel.totalcost}}</font> 
      </label> 
      </div>
      </div>
      </form >
    </ion-slide>
    <ion-slide>
     <form ng-submit="onSubmit(theFormCarac.$valid)" name="theFormCarac" novalidate="novalidate">
      <div class="list paddingContent fontFrom ">
      <h4>Caracteristicas</h4>
       <p class="titleForm">Presentacion sugerida:</p>
       <label class="item item-input borderForm">
        <textarea ng-model="present.title" type="search" placeholder="Campo de sugerencia" name="suge"
             required="required"
             id="suge" ng-change="searchPresentaciones(present.title)"></textarea>
      </label>
      <p ng-if="!present.title"><font color="red">*Campo Presentacion es requerido</font></p>
       <div class="optionList padding-left padding-right"  style="margin-top:-5px;font-family: ubuntubold sans-serif" ng-show="isPresentaciones">
           <ion-scroll>
               <ul class="list">
               <li class="item"  style="background-color:#EEEEEE" ng-click="seleccionarPre(itemdata)" ng-repeat="itemdata in presentacionesbuf.presentaciones">{{itemdata.Nombre}}</li></ul>
           </ion-scroll>
      </div>
      <br>  
      <div class="titleForm">Fecha de entrega:</div>
     <div class="selecta">
      <label class="item item-input borderForm"  g-class="{
            'borderForm': theFormCarac.date.$valid && !theFormCarac.$pristine,
            'borderFormError': !theFormCarac.date.$valid && !theFormCarac.$pristine,
             }">
        <input type="date" ng-model="userModel.date" min="{{date | date:'yyyy-MM-dd'}}" placeholder="Fecha" name="date"
             required="required"
             id="date" ng-bind="inicialdate'"></input>
        <span class="icon-down_line" style="margin-right: 30px"></span>
      </label>
      </div>
      <p ng-if="!userModel.date"><font color="red">*Campo Fecha de entrega es requerido</font></p>
      <br> 
      <p class="titleForm">Comentarios:</p>
       <label class="item item-input borderForm" g-class="{
            'borderForm': theFormCarac.coment.$valid && !theFormCarac.$pristine,
            'borderFormError': !theFormCarac.coment.$valid && !theFormCarac.$pristine,
             }">
        <textarea type="text" placeholder="Comentarios" name="coment" ng-model="userModel.finalcoment"
             required="required"
             id="coment"></textarea>
      </label>
      <p ng-if="!userModel.finalcoment"><font color="red">*Campo Comentarios es requerido</font></p>
      <br>
      <br>
      <button class="button button-block button-balanced" ng-click="actionButtonPublicar(theFormProducto,theFormCarac)" ng-disabled="theFormCarac.$invalid" ng-if="hasta > dateCompare">
          Actualizar Publicacion
      </button >
      <button class="button button-block button-balanced" ng-click="actionButtonRePublicar(theFormProducto,theFormCarac)" ng-disabled="theFormCarac.$invalid" ng-if="dateCompare > hasta">
          Re-Publicar
      </button >
      </div>
      </form >
    </ion-slide>
  </ion-slide-box>
</ion-content>
</ion-view>