<ion-view view-title="Publicar ofertas" hide-back-button="false">
<!-- contenido de login -->
<ion-content  class="has-header"  style="background-color: #58b9fe">
     <div class="launch agronegocios">
            <div class="launch__logo">
              <img src="dist/img/logo_negocios.png" width="165">
            </div>
            <div class="launch__content">
               <font size="4">Seleccione el tipo de oferta que desea publicar</font>
            </div>
            <div class="dropdown-section" style="margin-top: 100px">
              <ul class="dropdown">
                <li class="dropdown__tap" ng-click="goToBuy()"> 
                  <div class="dropdown__title bold right" ng-click="goToBuy()">
                    Publicar compra
                  </div>
                </li>
                <li class="dropdown__tap" ng-click="goToSold()">
                  <div class="dropdown__title bold right" ng-click="goToSold()">
                    Publicar venta
                  </div>
                </li>
              </ul>
            </div>
            <div class="launch__footer" style="background-color: #58b9fe"> 
            </div>
          </div>
</ion-content>
</ion-view>