<ion-view view-title="Quiero Comprar" hide-back-button="false" style="background-color:#F5F5F5" >
<ion-content  class="has-header">
    <div class="row" style="margin-top: 7px">
     <div class="leftarrow">
          <button class="button button-positive button-clear no-animation icon ion-chevron-left"
                  ng-click="previusSlide()" ng-if="!slideIndex">
          </button>
          <button class="button button-positive button-clear no-animation icon ion-chevron-left"
                  ng-click="previusSlide()" ng-if="slideIndex > 0">
          </button>
        </div>
        <center style="margin-top: 12px"><p class="titleForm"> {{count+1}} de 2 formularios</p></center>
        <div class="rightarrow">
          <button class="button button-positive button-clear no-animation icon ion-chevron-right"
                  ng-click="nextSlide()" ng-if="!slideIndex">

          </button>
          <button class="button button-positive button-clear no-animation icon ion-chevron-right"
                  ng-click="nextSlide()" ng-if="slideIndex>0"> 

          </button>
        </div>
        </div>
     <ion-slide-box show-pager="true" on-slide-changed="slideHasChanged($index)">
      <ion-slide>
      <form name="theForm" novalidate="novalidate">
      <div class="list paddingContent fontFrom ">
      <h4>Producto</h4>
      <p class="titleForm">Grupo del producto:</p>
       <div class="selecta" >
        <span class="arr"></span>
        <select ng-model="userModel.category" ng-change="seleccionarCatego(userModel.category)">
        <option ng-repeat="i in categorias" value="{{i.Nombre}}">
              {{i.Nombre}}
        </option>
      </select>
      </div>
      <p ng-if="cate==0 || !userModel.category"><font color="red">*Campo Grupo del producto es requerido</font></p>
      <br>  
      <!--p class="titleForm">Producto que quiero comprar:</p>
       <label class="item item-input borderForm"  ng-class="{
            'borderForm': theForm.protosold.$valid && !theForm.$pristine,
            'borderFormError': !theForm.protosold.$valid && !theForm.$pristine,
             }">
        <input type="text" placeholder="Producto a comprar" ng-model="userModel.product" name="protosold"
             required="required"
             id="protosold">
      </label>
      <p ng-if="!userModel.product"><font color="red">*Campo Producto que quiero comprar es requerido</font></p-->
      <br>
      <p class="titleForm">Producto:</p>
       <label class="item item-input borderForm">
             <i class="icon ion-search placeholder-icon" id="variedadlupa"></i>
             <img src="img/ajax-loader.gif" style="width: 15px; display:none;" alt="loader" id="varloader">
       <input type="search" placeholder="Variedad"  ng-model="variedad.title"  ng-change="searchVariedad(variedad.title)" style="font-family: ubuntubold sans-serif;margin-top: 3px"name="variedad.title"
             required="required"
             id="variedad">
      </label> 
      <div class="optionList padding-left padding-right"  style="margin-top:-5px;font-family: ubuntubold sans-serif" ng-show="isVariedades">
           <ion-scroll>
               <ul class="list">
               <li class="item"  style="background-color:#EEEEEE" ng-click="seleccionarVar(itemdata)" ng-repeat="itemdata in vararray.variedades">{{itemdata.Nombre}}</li></ul>
           </ion-scroll>
      </div> 
      <p ng-if="!variedad.title"><font color="red">*Campo producto es requerido</font></p>
      <br>

      <!--p class="titleForm">Unidad medida:</p>
          <div class="selecta" >
        <span class="arr"></span>
        <select ng-model="userModel.unidad" ng-change="seleccionarMedida(userModel.unidad)">
        <option ng-repeat="i in uMedida" value="{{i.Nombre}}">
              {{i.Nombre}}
        </option>
      </select>
      </div>
      <p ng-if="cate==0 || !userModel.category"><font color="red">*Campo Categoria del producto es requerido</font></p-->



      <p class="titleForm">Peso: (Kg):</p>
       <label class="item item-input borderForm"  g-class="{
            'borderForm': theForm.cantidad.$valid && !theForm.$pristine,
            'borderFormError': !theForm.cantidad.$valid && !theForm.$pristine,
             }">
        <input type="number" placeholder="Cantidad" ng-model="userModel.cant" name="cantidad"
             required="required"
             id="cantidad">
      </label> 
      <p ng-if="!userModel.cant"><font color="red">*Campo cantidad es requerido</font></p>
      <br>
      <div class="optionList padding-left padding-right"  style="margin-top:-5px;font-family: ubuntubold sans-serif" ng-show="isPresentaciones">
           <ion-scroll>
               <ul class="list">
               <li class="item"  style="background-color:#EEEEEE" ng-click="seleccionarPre(itemdata)" ng-repeat="itemdata in presentacionesbuf.presentaciones">{{itemdata.Nombre}}</li></ul>
           </ion-scroll>
      <br>
      </div>
      <p class="titleForm">Presentación sugerida:</p>
       <label class="item item-input borderForm">
        <i class="icon ion-search placeholder-icon" id="municipiolupa"></i>
             <img src="img/ajax-loader.gif" style="width: 15px; display:none;" alt="loader" id="munloader">
        <textarea ng-model="present.title" type="search" placeholder="Presentación sugerida" name="suge"
             required="required"
             id="suge" ng-change="searchPresentaciones(present.title)"></textarea>
      </label>
      <p ng-if="!present.title"><font color="red">*Campo Presentación es requerido</font></p>
      </div>
      </form >
    </ion-slide>
    <ion-slide>
    <form ng-submit="onSubmit(theFormSlide.$valid)" name="theFormSlide" novalidate="novalidate">
      <div class="list paddingContent fontFrom ">
      <h4>Características</h4>
      <p class="titleForm">Fecha de entrega:</p>
     <div class="selecta">
      <label class="item item-input borderForm"  g-class="{
            'borderForm': theFormSlide.date.$valid && !theFormSlide.$pristine,
            'borderFormError': !theFormSlide.date.$valid && !theFormSlide.$pristine,
             }">
        <input type="date" ng-model="userModel.date" min="{{date | date:'yyyy-MM-dd'}}" placeholder="Fecha" name="date"
             required="required"
             id="date" ng-bind="inicialdate'"></input>
        <span class="icon-down_line" style="margin-right: 30px"></span>
      </label>
      <p ng-if="!userModel.date"><font color="red">*Campo Fecha de entrega es requerido</font></p>
      </div>
      <br> 
      <p class="titleForm">Ubicación:</p>
       <label class="item item-input borderForm">
             <i class="icon ion-search placeholder-icon" id="municipiolupa"></i>
             <img src="img/ajax-loader.gif" style="width: 15px; display:none;" alt="loader" id="muniloader">
         <input type="search" placeholder="Municipio"  ng-model="muni.title"  ng-change="searchMunicipios(muni.title)" style="font-family: ubuntubold sans-serif;margin-top: 3px"name="muni.title"
             required="required"
             id="muni">
      </label> 
      <p ng-if="!muni.title"><font color="red">*Campo Ubicación es requerido</font></p>
      <div class="optionList padding-left padding-right"  style="margin-top:-5px;font-family: ubuntubold sans-serif" ng-show="isMunicipio">
           <ion-scroll>
               <ul class="list">
               <li class="item"  style="background-color:#EEEEEE" ng-click="seleccionar(itemdata)" ng-repeat="itemdata in municipiosdataregister.municipiosregister">{{itemdata.Nombre}} {{itemdata.Departamento}}</li></ul>
           </ion-scroll>
      </div> 
      <br>
      <p class="titleForm">Comentarios:</p>
       <label class="item item-input borderForm" g-class="{
            'borderForm': theFormSlide.coment.$valid && !theFormSlide.$pristine,
            'borderFormError': !theFormSlide.coment.$valid && !theFormSlide.$pristine,
             }">
        <textarea type="text" placeholder="Comentarios" name="coment" ng-model="userModel.finalcoment"
             required="required"
             id="coment"></textarea>
      </label>
      <p ng-if="!userModel.finalcoment"><font color="red">*Campo Comentarios es requerido</font></p>
      <br>
      <p class="titleForm">Bonificación :</p>
      <label class="item item-input borderForm">
        <input type="number" placeholder="Bonificación" ng-model="userModel.bonus">
      </label> 
      <br>
      <button class="button button-block button-balanced" ng-click="actionButtonPublicar(theForm,theFormSlide)" ng-disabled="theFormSlide.$invalid">
          Publicar
      </button >
      </div>
      </form>
    </ion-slide>
  </ion-slide-box>     
</ion-content>
</ion-view>