<ion-view class="startFont">
  <ion-content>
    <div class="startImage"></div>
    
    <p class="startText">
     Podrá consultar ofertas y demandas, así como publicar avisos de 
     productos relacionados con el sector agropecuario y agroindustrial Colombiano
    </p>

    <div class="startPaddingButton">
      <a href="#/app/home" class="button button-full button-balanced ">Ingresar</a>
    </div>
    <center><a href="#/aviso"><b style="font-family: ubuntubold sans-serif"><u><font color="white">Términos y condiciones</font></u></b></a></center>
  </ion-content>

  <ion-footer-bar align-title="left" class="bar-stable">
      <div class="letterInit">Aplicacion desarrollada por:</div>
      <div class="logoImage"></div>       
  </ion-footer-bar>
  
</ion-view>
