<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content on-swipe-left="onGesture()">

    <ion-nav-bar class="barCustomColor auxHeigth"  >
      <ion-nav-back-button class="auxHeigth" >
      </ion-nav-back-button>

      <ion-nav-buttons side="right" ng-click="reloadStateUser()">
        <div class="form_header_bar" menu-toggle="right" ng-click="reloadStateUser()">
        <span class="profile__img" ng-click="reloadStateUser()" style="margin-top: -13px">
            <span ng-click="reloadStateUser()" style="font-family: ubuntubold sans-serif">Perfil</span>
          </span>
          </div>
          <div class="form_header_bar" menu-toggle="right" ng-click="reloadStateUser()">
          <span class="icon-right_line profile__arrow" style="margin-top: -13px" ng-click="reloadStateUser()"></span>
        </div>
      </ion-nav-buttons>

       <ion-nav-buttons side="left">
        <div menu-close class=" button-clear-white button-clear iconConecta" menu-toggle="left" >  
        </div>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="right" is-enabled="shouldLeftSideMenuBeEnabled()" 
   >
    <ion-content class="fontFrom" >
        <!--profile-View></cell-profile-->
        <div class="fontFrom">  
  <div ng-if="!existUser" class="contentLoginImageInitUser" >
    <div class="startImageLogin"></div> 
  </div>
  <div class="headerDiv">

    <div ng-if="existUser">

      <center>
        <img class="positionImageMenu" src="img/unProfile.jpg">
      </center> 
      
      <div class="itemsMenuUserName" ng-model="nameuser"> {{nameuser}}

      </div>

      <div class="itemsMenuUserNameText">
        Su perfil contiene el {{porcentual}}% de la información
      </div>
      <br>
      <div id="barStatus">
        <div id="progress"  ng-style="{'width': width}" ng-if="existUser"></div>
      </div>

    </div>
  </div>
  <div ng-if="!existUser" class="padding">

    <div class="textLogin textColorLogin padding">
        No se encuentra registrado, por favor registrese
    </div>
    <br>
    <button menu-close style="font-family: ubuntubold sans-serif;"
      class="button-balanced button button-block" 
      ng-click="goTo(3)">Registrarse
    </button>
  </div>
  <div  ng-if="existUser" class="menuStyle">        
    <div class="itemsMenu" menu-close  ng-click="goTo(1)">Mi perfil<hr></div>
    
    <div class="itemsMenu" menu-close  ng-click="goTo(2)">
      <div class="ion-ios-star" style="color:#ff8400">
        <span style="padding-left:5px;color:#59595c">Favoritos</span>
      </div>
      <hr>
    </div>  

    <div class="itemsMenu" menu-close  ng-click="goTo(4)">
      <div style="color:#ff8400">
        <span style="padding-left:5px;color:#59595c">Mis Publicaciones</span>
      </div>
      <hr>
    </div>  
    
      <div class="itemsMenu" menu-close  ng-click="cambiarContra()">
      <div style="color:#ff8400">
        <span style="padding-left:5px;color:#59595c">Cambiar clave</span>
      </div>
      <hr>
    </div>  


    <div class="itemsMenu" style="color: #c73233" 
      ng-click="closeSesion()">Cerrar Sesión
    </div>
  </div>
</div>
    </ion-content>
  </ion-side-menu>

  <div  ng-if="existUser" 
  class="footerInitAux">
    <div class="contentLoginImageAux" >
      <div class="startImageLoginAux"></div> 
    </div>
  </div>

</ion-side-menus>