html {
  background: #F5F5F5;
  background-color: #F5F5F5;
}
h3{
	position: absolute;
	margin-bottom: 2rem;
	text-align: center;
}

h6{
  margin-left: 4px;
  position: relative;
  text-align: justify;
  font-size: 17px;
}

p{
	margin-top: 25px;
	margin-left: 23px;
	position: relative;
	text-align: justify;
	font-size: 17px;
	text-align: left;
}

p1{
  margin-top: 25px;
  margin-left: 23px;
  position: relative;
  text-align: justify;
  font-size: 17px;
  right: 15px;
}
h4{
  color: #58b9fe;
}


.p_bar{
	margin-top: 80px;
}
.busquedaMunDetail{
  margin-top: 0;
  position: relative;
}
.optionList{
    position:absolute;
    width:100%;
    z-index:100;
}
.divider{
    position:absolute;
    top:20%;
    bottom:20%;
    margin-top: 5px;
    border-left:1px solid #AAAAAA;
}
.center{
	margin: 0 auto;
	position: absolute;
	left: 35%;
}

.title_loginn{
	font-size: 18px;
	font-family: "Ubuntu", sans-serif;
}
.cornerhelp{
    left: 0px;
    top: 0px;
    width: 100%;
    text-align: right;
}
.alignleft {
  float: left;
}
.alignright {
  float: right;
}
.form_login{
	margin-top: 20px;
	position: relative;
	margin-left: 23px;
	margin-right: 23px;
}
.form_header_bar{
  position: relative;
  margin-top: 20px;
}

.input_login{
	border-color: #58b9fe;
}

.branding{
	position: absolute;
	z-index: 100;
}
.name{
  color: #ff8400;
  font-family: "Ubuntu", sans-serif;
}
.cabecera{
  margin-top: 10px;
  position: relative;
  text-align: center;
  display: inline-block;
  left: 7% ;
}

.text_img{
  position: relative;
  margin-bottom: 20px;

}
.gris{
  background-color: #FAFAFA;
}
.inf_ca{
  position: relative;
  margin-bottom: 13px;
  color: #ff8400;
  font-family: "Ubuntu", sans-serif;
}

.list{
  margin-top: 15px;
}
.but{
  margin-top: 10px;
  margin-left: 23px;
  margin: 23px;
}
.custom-color{
    color : #30393A
     background-color: #000;
}
.mycustomnavbar{
  height: 64px;
}
.ex {
    height: 100%;
    width: 100%;
}
.btn1 {
  position: relative;
  /*margin: 1em auto;*/
  width: 113%;
  height: 50px;
  display: block;
  margin:0 auto;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  border-radius: 2px;
  border: 1px solid transparent;
  cursor: pointer;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  text-align: center;
  outline: none;
  white-space: nowrap;
  vertical-align: middle; }
.btn-primary1 {
  color: white;}
  .btn-primary.btn-plus-a, .btn-primary.btn-plus-b {
    position: relative; }
    .btn-primary.btn-plus-a:after, .btn-primary.btn-plus-b:after {
      content: '+';
      position: absolute;
      display: block;
      top: 0;
      right: 0;
      width: 40px;
      height: 100%;
      border-left: 1px solid #5e8b26;
      font-size: 26px;
      line-height: 48px; }
.btn-green1 {
  background: #6abb06;
  border-color: #5e8b26;
  color: white; }
.transparentcolor {
  background-color: transparent; }
  
.startFont{  
  background-image: url("../img/launch_negocios.png");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.btn2 {
  position: relative;
  /*margin: 1em auto;*/
  width: 113%;
  height: 50px;
  display: block;
  margin:0 auto;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  border-radius: 2px;
  border: 1px solid transparent;
  cursor: pointer;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  text-align: center;
  outline: none;
  white-space: nowrap;
  vertical-align: middle; }
.btn-primary2 {
  color: white;
}
.btn-primary.btn-plus-a, .btn-primary.btn-plus-b {
  position: relative; 
}
.btn-primary.btn-plus-a:after, .btn-primary.btn-plus-b:after {
  content: '+';
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  width: 40px;
  height: 100%;
  border-left: 1px solid #5e8b26;
  font-size: 26px;
  line-height: 48px; 
}
.btn-green2 {
  background: #6abb06;
  border-color: #5e8b26;
  color: white; 
}
.startImage{
  padding-top: 100px;
  margin-top:100px; 
  margin-right: auto;
  margin-left: auto;
  width: 50%;
  height: 15%;
  background-repeat: no-repeat;
  background-size: 100%;
  line-height:100px; 
  vertical-align: middle;
  background-image: url("../img/logo_negocios.png");
}
.startImageTerminos{
  width: 200px;
  height: 80px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url("../img/logo_negocios.png");
}
.startText {
  margin-top: 10px;
  padding: 15px 30px;
  color: white;
  font-size: 15px;
  text-align: center;
  font-family: "ubuntulight" sans-serif;
}
.startTextTerminos {
  margin-top: 20px;
  padding: 15px 30px;
  color: white;
  font-size: 15px;
  text-align: center;
  font-family: "ubuntulight" sans-serif;
}
.startPaddingButton{
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  margin-top: 40px;
  font-family: "Ubuntu", sans-serif;
}
.startPaddingButtonTerminos{
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  margin-top: 30px;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  font-size: 15px;
}
.letterInit{
  margin-top: 5px;
  margin-bottom: auto;
  height: 30;
  font-size: 15px;
  font-weight: 200;
  float: left;
  font-family: "Ubuntu", sans-serif;
  color: #59595c;
  width: 55%;
}
.footerInit {
  position:absolute;
  bottom:0;
  width:100%;
  height:8%;   /* Height of the footer */
  background: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px
}
.footerInitTerminos{
  position:absolute;
  bottom:0;
  width:100%;
  height:8%;   /* Height of the footer */
  background: white;

}
.footerInitTerminosLeft{
  width:33%;
  height:100%;   /* Height of the footer */
  float: left;
  text-align: center;  
}
    .footerInitTerminosLeft:before
    {
        content: '';
        width: 100%;
        display: inline-block;
  
    }
.footerInitTerminosLeftImg{

    margin-top:-110%;
    height: 90%; 
 
}
.footerInitTerminosCenter{
  float: left;
  width:33%;
  height:100%;;   /* Height of the footer */
  text-align: center;
}
  .footerInitTerminosCenter:before
    {
        content: '';
        width: 100%;
        display: inline-block;
    }
.footerInitTerminosCenterImg{

      height:100%;
      margin-top:-15%;
}
.footerInitTerminosRight{
  float: left;
  width:33%;
  height:100%;   /* Height of the footer */
  text-align: center;
 }
 .footerInitTerminosRight:before
    {
        content: '';
        width: 100%;
        display: inline-block;
    }
.footerInitTerminosRightImg{
       height:100%;
      margin-top:-100%;
}
 .textLogin{
  font-size: 16px;  
  text-align: center;
}
.textcolor {
color:#AAAAAA;
}
.logoImage{
    float: right;
    width: 40%;
    height: 85%;
   
    background-size: 100%;
    background-image: url("../img/logo_min.png");
    background-repeat: no-repeat;
}
.foot{
    float: center;
    width: 40%;
    height: 200%;
    margin-left: 15px;
    margin-right: 15px;    
    background-size: 100%;
    background-image: url("../img/agro.png");
    background-repeat: no-repeat;
    margin-top: 30px;
}
.bar .button.back-button{
  color: white;
}
.button-clear.button-clear-white{
  color: white;
}
.textColorLoginText{
  color: #59595c;
  font-family: "ubuntubold" sans-serif;
}
.textColorLogin{
  color: #59595c;
  font-family: "ubuntubold" sans-serif;
}
.button.button-color-green {  
  border-color: #58b9fe;

}
.fontFrom{
  background-color: #F5F5F5;
  style="font-family: ubuntubold sans-serif;"
}
.menuStyle{
  padding-left: 15px;
  padding-right: 15px;
  width:100%;
  margin-top: 50px;
  font-family: "ubuntubold" sans-serif;
}
.itemsMenu{
  padding-left:10px;
  padding-top: 15px;
  padding-bottom: 10px;
  font-size: 16px;
  height: 50px;
  color: #59595c;
  width: 100%;  
  font-family: "ubuntubold" sans-serif;
}
.marginAuxTab{
  margin-top: 58px;
}
.buttonHeader{
  height: 50px;
}
.barCustomColor{
  background-color: #58b9fe ;
  color: white;
}
.barCustomColorTerminos{
  background-color: transparent; ;
  color: white;
}
.auxHeigth{
  height: 60px;
  padding-top: 10px;
  font-size: 16px;
  text-align: center;
}
.iconConecta:before{
  display:inline-block;
  width: 140px;
  height: 100%;  
  position: absolute; 
  content: "";
  background-image: url("../img/icon_negocios.png");
  background-repeat: no-repeat;
  background-size: 100%;

}
.textTitle{
  padding: 10px 0px;
  font-size: 20px;
  text-align: justify;
  
}
.circleLabel{
  border-radius: 18px;
  font-size: 15px;
  height: 36px;
  width: 36px;
  padding: 7px;
  text-align: center;
  color: white;
}
.circleLabel{
  border-radius: 18px;
  font-size: 15px;
  height: 36px;
  width: 36px;
  padding: 7px;
  text-align: center;
  color: white;
}
.titleLabelCell{
  margin-left: 15px;
  margin-top: 8px;
  display: inline;
  font-size: 15px;
}
.textBody{
  padding: 10px 0px;
  font-size: 12px;
  line-height: 15px;
  color : #616161;
}
.auxPaddingButton{
  padding-top: 7px;
}
.auxMarginRow{
  margin: 0px ;
}
.contentLoginImage{
  width: 100%;
  height: 80px;
  margin-top: 15px;
  background-color: #58b9fe;
  padding-top: 12px;
  style="font-family: ubuntubold sans-serif;"
}
.startImageLoginResult{
  width: 100%;
  height: 200px;  
}
.iconConecta:before{
  display:inline-block;
  width: 140px;
  height: 100%;  
  position: absolute; 
  content: "";
  background-image: url("../img/icon_negocios.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
.headerDiv {
  width: 100%;
  height: 200px; 
}
.paddingContent{
  padding: 30px 30px;
  font-family: "ubuntubold" sans-serif;
}
.headerFrom{
  height: 100px;
}
.imageProfile{
  width: 60px;
  height: 60px;
  border-radius: 30px;
}
.textImageProfile{
  color: #636363;
  margin-left: 25px;
  display: inline-block;
  font-family: "ubuntubold" sans-serif;  
}
.titleForm{
  padding:  0px 0px;
  color: #636363;
  font-family: "ubuntubold" sans-serif;
}
.borderForm{
  border-color: #58b9fe;
  color: #58b9fe;
  font-family: "ubuntubold" sans-serif;
}
.selecta .arr {
  background: #fff;
  bottom: 5px;
  position: absolute;
  right: 5px;
  top: 5px;
  width: 100px;
  pointer-events: none;
  font-family: "ubuntubold" sans-serif;
}
.startImageLogin{
  width: 150px;
  height: 70px;
  margin-right: auto;
  margin-left: auto;

  background-repeat: no-repeat;
  background-size: 100% ;
  background-color: transparent ;
  background-image: url("../img/logo_negocios.png");
  font-family: "ubuntubold" sans-serif;
}
.selecta .arr:before {
  content: '';
  position: absolute;
  top: 50%;
  right: 24px;
  margin-top: -5px;
  pointer-events: none;
  border-top: 10px solid #58b9fe;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  font-family: "ubuntubold" sans-serif;
}
#barStatus{
  margin-top: 35px;
  width : 80%;
  margin: auto;
  background-color: #ccc;
  height: 10px;
  border-radius: 5px;
  display:block;
}
#progress {
  width: 20%;  
  height: 10px;
  border-radius:5px;
  background-color: #58b9fe;
}
.contentLoginImageInitUser{
  width: 100%;
  height: 113px;
  margin-top: 0px;
  background-color: #58b9fe;
  padding-top: 5px;
  margin-top: 0px;
  padding-top: 45px;
  font-family: "ubuntubold" sans-serif;
}
.itemsMenuUserName{
  padding-left:30px;
  padding-top: 15px;

  font-size: 16px;
  height: 35px;
  color: #58b9fe;
  width: 100%; 
  font-family: "ubuntubold" sans-serif; 
}
.itemsMenuUserNameText{
  padding-left:30px;
  padding-top: 15px;
  padding-bottom: 10px;
  font-size: 14px;
  height: 50px;
  color: #59595c;
  width: 100%;  
  font-family: "ubuntubold" sans-serif;
}
.positionImageMenu{
  margin-top: 50px;
  width: 60px;
  height: 60px;
  border-radius: 30px;
}
.passwordCreate{
  padding-left: 10px;
  padding-right: 0px;
}
.styleSugesstion{
  font-size: 16px;
  padding: 0px 20px;
  text-align: center;
}
.headerDiv {
  width: 100%;
  height: 200px;
  
}
.footerDiv {
  width: 100%;
  height: 200px;
  
}
.selecta .arr:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 28px;
  margin-top: -5px;
  pointer-events: none;
  border-top: 6px solid #fff;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  font-family: "ubuntubold" sans-serif;
}
.selecta {
  font-size: 16px;
  position: relative;
  display: inline-block;
  width: 100%;
  font-family: "ubuntubold" sans-serif;
}
.selecta select {
  outline: none;
  -webkit-appearance: none;
  display: block;
  padding: 15px 0px 14px 16px;
  margin: 0;
  width: 100%;
  transition: border-color 0.2s;
  border: 1px solid #58b9fe;
  border-radius: 0px;

  background: white;
  color: #ccc;
  line-height: normal;
  font-family: "ubuntubold" sans-serif;
}
.borderFormError{
  border-color: red;
  color: red;
}
.lineScollSuggestion{
  height: 1px;
  width: 15%;
  background-color: #ccc;
  font-family: "ubuntubold" sans-serif;
}
a:link{   
 text-decoration:none;   
}
.leftarrow, .rightarrow{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  /*height: 8%;*/
  z-index: 100;
  width: 44px;
  background-color: rgba(0,0,0,0)
}
.leftarrow{
  left: 0;
}
.rightarrow{
  right: 0;
}
/**/
#munloader{ display:none;}

.centerImgSplash{
  text-align: center;
}