
@media only screen and (orientation : landscape) {

.logoImage{
    float: right;
    width: 50%;
    height: 100%;
    background-size: 40%;
    background-image: url("../img/logo_min.png");
    background-repeat: no-repeat;
}


.footerInitTerminosLeftImg{

    margin-top:-100%;
    width: 50%;
    height: 90%; 
}



.footerInitTerminosCenterImg{
      height:100%;
}


.footerInitTerminosRightImg{
 
  margin-top:-100%;
  /*width:33%;*/
  height:100%;   /* Height of the footer */
 }

.startImage{
  padding-top: 130px;
  margin-top:10px; 
  margin-right: auto;
  margin-left: auto;
  width: 50%;
  height: 40%;
  background-repeat: no-repeat;
  background-size: 100%;
  line-height:100px; 
  vertical-align: middle;
  background-image: url("../img/logo_negocios.png");
  
}
}


@media only screen and (orientation : portrait) and (min-width: 600px) {
.logoImage{
      float: right;
      width: 24%;
      height: 85%;
     
      background-size: 100%;
      background-image: url("../img/logo_min.png");
      background-repeat: no-repeat;
 }
  

.startImage{
    padding-top: 150px;
    margin-top:100px; 
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    height: 15%;
    background-repeat: no-repeat;
    background-size: 100%;
    line-height:100px; 
    vertical-align: middle;
    background-image: url("../img/logo_negocios.png");
  }

}